<h3>AMQP connection <%= result[:uri] %></h3>
<dl>
  <dt>Uses TLS?</dt>
  <dd><%= result[:tls] %></dd>        

  <dt>Server-generated queue name</dt>
  <dd><%= result[:queue].name %></dd>

  <dt>Payload (published and consumed via basic.get)</dt>
  <dd><%= result[:consumed_message_payload] %></dd>
</dl>
