<!doctype html>
<html>
  <head>
    <title>
      Service information
    </title>
  </head>

  <body>
    <% results.each do |r| %>
    <article>
      <% if e = r[:exception] %>
      <div class="error">
        <h3>Connection <%= r[:uri] %></h3>
        raised an exception:
        <p>
          <%= e.message %>
          <% e.backtrace[0, 12].each do |line| %>
            <%= line %><br/>
          <% end %>
        </p>
      </div>
      <% else %>
        <div class="success">
          <%= partial r[:proto], :result => r %>
        </div>
      <% end %>
    </article>
    <% end %>
  </body>
</html>
