<!doctype html>
<html>
  <head>
    <title>
      Service information
    </title>
  </head>

  <body>
    <% results.each do |result| %>
      <article>
        <% if e = result[:exception] %>
        <div class="error">
          <h3>Connection <%= result[:uri] %></h3>
          raised an exception:
          <p>
            <%= e.message %>
            <% e.backtrace[0, 12].each do |line| %>
              <%= line %><br/>
            <% end %>
          </p>
        </div>
        <% else %>
          <div class="success">
            <%= partial :amqp, :result => result %>
          </div>
        <% end %>
      </article>
    <% end %>
  </body>
</html>
