<!doctype html>
<html>
  <head>
    <title>
      Service information
    </title>
  </head>

  <body>
    <% results.each do |r| %>
    <article>
      <% if e = r[:exception] %>
      <div class="error">
        Connection <%= uri %> raised an exception:
        <p>
          <%= e.message %>
        </p>
      </div>
      <% else %>
      <%= erb r[:proto].to_s, :layout => false %>
      <% end %>
    </article>
    <% end %>
  </body>
</html>
